<footer class="border-top footer text-light text-center bg-dark">
    <div class="container">
        Copyright  &copy; MyLibraryStore @DateTime.Now.Year
        @*<a href="mailto:nitish.webgentle@gmail.com">nitish.webgentle@gmail.com</a>
        *@
        @*<cutom-email my-email="nitish@webgentle.com"></cutom-email>*@
    </div>
</footer>