<footer class="border-top footer text-light text-center bg-dark">
    <div class="container">
        Copyright  &copy; MyLibraryStore @DateTime.Now.Year  -  
        <a style="font-size:larger" href="mailto:abdo2dd@gmail.com">abdo2dd@gmail.com</a>

        @*<cutom-email my-email="abdo2dd@gmail.com"></cutom-email>*@
    </div>
</footer>