@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@inject Microsoft.Extensions.Options.IOptionsSnapshot<NewBookAlertConfig> _newBookAlertconfiguration
@{ 
    var newBookAlertconfiguration = _newBookAlertconfiguration.Get("InternalBook");
    var thirdPartyBookAlertconfiguration = _newBookAlertconfiguration.Get("ThirdPartyBook");
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/" style="color:coral; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:x-large">
                <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX15105967.jpg" width="45" height="40" asp-append-version="true" />
                @*@_configuration["AppName"]*@ MyLibraryStore
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Home" asp-action="aboutus">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="home" asp-action="contactus">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="book" asp-action="getallbooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="book" asp-action="AddNewBook">Add new book</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-light" asp-area="Home" asp-controller="Home" asp-action="details">Admin</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>

    @if (newBookAlertconfiguration.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert">
            @newBookAlertconfiguration.BookName
        </div>
    }

    @if (thirdPartyBookAlertconfiguration.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert">
            @thirdPartyBookAlertconfiguration.BookName
        </div>
    }

</header>