@{
    ViewData["Title"] = "About us";
}
<div class="bg-light">
    <div class="container py-5">
        <div class="row  align-items-center ">
            <div class="col-lg-6">
                <h1 class="display-4">About us</h1>
                <p class="lead text-muted mb-0 text-justify">
                    We created this web application to enable you finding your favorite books in many fields in a short time with just a few clicks without the need to login into the system.
                    Our application will help you to search for any book you want without looking for all books that exist,
                    @*After that you will be able to view the details of the book and find a PDF software copy of it to read, <br />*@
                    and if you want to buy the book you will have to login our system so that you can book your ,copy and pay the cost,
                    save your time with no more additional costs.
                </p>
                <p class="lead text-black">
                    Any Question ?... <a asp-controller="home" asp-action="contactus" class="text-danger">
                        <u>Contact Us</u>
                    </a>
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>