@{
    ViewData["Title"] = "Contact us";
}
<div class="container contact">
    <div class="row" >
        <div class="col-md-3 bg-success" style="border-radius:10px; margin-bottom:8px">
            <div class="contact-info">
                <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                <h2>Contact Us : </h2> <hr /> <br /><br /><br />
                <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">We would love to hear from you !</h4>
            </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fname">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lname">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment" >Comment:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="comment" placeholder="Type your Messege ...."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-warning"><a style="text-decoration:none" asp-controller="Home" asp-action="Index">Submit</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
