@{ ViewData["Title"] = "Home"; }
<section class="jumbotron text-center" style="background-color: coral; border-radius: 25px;">
    <div class="container">
        <h1>Welcome To MyLibraryStore</h1><br />
        <p class="lead text-black-50" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: larger; font-weight: bolder;">
            Welcome to our Book store , where you will be able to find your favourite books in a short time with just a few clicks " save your time with no more additional cost "

            @*Where you will be able to find your favorite books in many fields in a short time with just a few clicks without the need to login into the system.
                Our application will help you to search for any book you want without looking for all books that exist,<br />
                After that you will be able to view the details of the book and find a PDF software copy of it to read, <br />
                and if you want to buy the book you will have to login our system so that you can book your <br />copy and pay the cost,
                save your time with no more additional costs.*@
        </p>
        @*<p>
                <a href="all-books" class="btn btn-primary my-2">Search books</a>
            </p>*@

        <p>
            <form class="form-inline my-2 my-lg-0 text-muted text-center" asp-action="Search" asp-controller="Book">
                <div class="container">
                    <input class="form-control mr-sm-2" name="term" type="search" placeholder="Search here" aria-label="Search">
                    <a href="#" <button class="btn btn-success" type="submit">Search</button></a>
                </div>
            </form>
        </p>
    </div>
</section>


<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        @await Component.InvokeAsync("TopBooks", new { count = 3})

        @*<vc:top-books count="6" ></vc:top-books>*@

    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            //alert("document is ready");
        })
    </script>
}
